html{
	background-color: black;
}

h1{
	color:white;
}

li{
	list-style-type: none;
	line-height: 30px;
}

button{
	text-align: center;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	font-weight: bold;
	font-size: 20px;
	color: turquoise;
}
#container{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}
