/*viewport resize: https://www.w3schools.com/howto/howto_css_responsive_text.asp*/

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Poiret+One');

html{
	background: no-repeat fixed center;
	background-size:cover;
}

h1, h2{
	font-family: 'Poiret One', cursive;
	margin-left: 150px;
}

h1{
	font-weight: lighter;
	font-size: 4vw;
	letter-spacing: 7px;
}

h2{
	letter-spacing: 4px;
	margin-bottom: 40px;
	display: inline;
	font-size: 1.5vw;
	/*outline: solid 2px red;*/
}

img{
	width: 30%;
	height: auto;
	/*outline: solid 2px blue;*/
	float: left;
}

p{
	/*outline: solid 2px green;*/
	font-family: 'Nanum Myeongjo', serif;
	font-size: 1vw;
	line-height: 2.3vw;
	font-weight: lighter;
}

a{
	background-color: #b3ffd9;
	text-decoration: none;
	color: black;
	padding: 5px;
}

#back{
	font-family: 'Poiret One', cursive;
	letter-spacing: 5px;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 10px;
}

a:hover{
	background-color: #ffcc99;
}

.bio{
	margin-left: 150px;
	margin-right: 30%;
	margin-top: 100px;
	/*outline: solid 2px red;*/
}

.fade-in{  
	animation: fade-in 1.4s;
}

@keyframes fade-in {
    from {opacity: 0; transform: translate(-500px, 0px)}
    to {opacity: 1;}
}
